<div id="bioclash-registration-banner" class="bioclash-registration-banner" hidden>
  <div class="bioclash-registration-banner-inner">
    <p class="bioclash-registration-banner-text">Think you're ready for a challenge? BiOClash Season 1 Registrations Open! Top 3 win a custom Micropipette pen from BiOGuide!</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeT9TXaZO2CCkISBsBRmoCBS45s-EfrAFu5J520fdT12J4JOw/viewform?usp=header" target="_blank" rel="noopener" class="bioclash-registration-banner-btn">Register Here</a>
  </div>
  <button type="button" class="bioclash-registration-banner-close" aria-label="Dismiss banner">&times;</button>
</div>
<script src="{{ "js/bioclash-registration-banner.js" | relURL }}" defer></script>
