<div class="interactive-showcase">
  <div class="interactive-card">
    <h4 href="https://practicepcmb4boguide.streamlit.app/">🌱 Our Plant Computational Biology Website</h4>
    <p>This is a completely indigenous resource for practicing Plant Computational Biology, which although was only in the practicals for IBO 2026, is still relevant.</p>
  </div>
  <div class="interactive-card">
    <h4 href="/ibo2022-sim.html">🧬 IBO 2022 Bioinformatics Practical Simul</h4>
    <p>This is another indeigenous website we created to help with bioinformatics practicals. It is a dynamic creation helping people seriously commit to IBO preparation.</p>
  </div>
  <div class="interactive-card">
    <h4>📊 Practice Tests</h4>
    <p>Full-screen, timed, with subject breakdown and personalized recommendations.</p>
  </div>
</div>
